/* @tailwind base; */
/* @tailwind components;
@tailwind utilities; */


:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --red-color: #E45858;
  --green-color: #2FAE03;
  --light-color: #f2f4f7;
  --blue-color: #2777C1;
  --dark-green-color: #009688;
  --black-color: #000000;
  --white-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground-rgb);
  margin: 0px;
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

/* .title {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

.paginationContainer {
  display: flex;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  padding: 15px auto;
} */

.bg-login {
  /* background-image: url('/v1015-104a.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
}

/* breadcrumbs */
.breadcrumbs {
  margin: 0px 24px !important;
  background-color: #f2f4f7;
}

.mx-80 {
  margin: 0px 80px;
}

.ml-50 {
  margin-left: 50px !important;
}

.mb-3 {
  margin-bottom: 30px;
}

.mt-150 {
  margin: 150px auto;
  margin-bottom: 25px !important;
}

.ml-300 {
  margin-left: 300px;
}

.right-item {
  display: flex !important;
  justify-content: right !important;
}

.left-item {
  display: flex !important;
  justify-content: left !important;
}

.center-item {
  display: flex !important;
  justify-content: center !important;
}

.rounded-button {
  min-width: none !important;
  border-radius: 100%;
}

.auto-width {
  width: auto !important;
}

.error-message {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  line-height: 1.66 !important;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji" !important;
}

input#base-increment {
  border: 0;
  justify-content: end;
  outline: none;
  padding: 0;
  position: relative;
}

input#base-increment:hover {
  border-bottom: 1px solid;
}

input#base-increment:focus {
  outline: none;
  border-bottom: 1px solid;
}

@media (min-width: 900px) {
  .nav-item-active::after {
    background-color: #1a73e8;
    bottom: -13px;
    content: " ";
    height: 2px;
    left: 12px;
    position: absolute;
    width: calc(100% - 24px);
    z-index: 840;
  }
}
